.viewsection {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 30px 0px;

    .reply_title {
        font-size: 47px;
        font-family: 'Dancing Script', cursive;
    }

    .card {
        border: 3px solid rgba(132, 7, 7, 0.07);

        .card-footer{
            .fa-regular, .fa-pen-to-square, .fa-solid, .fa-trash-can{
                color: orange;
                font-size: 18px;
                transition: all 0.8s ease-in-out;
                &:hover{
                    color: green;
                }
            }
            .fa-solid, .fa-trash-can{
                &:hover{
                    color: red;
                }
            }
        }
    }
}




@media (min-width: 576px) and (max-width: 767px) {
    .viewsection {
        .reply_title {
            font-size: 37px;
        }
      
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    .viewsection {
        .reply_title {
            font-size: 33px;
        }
        .card {
            .card-footer{
                .fa-regular, .fa-pen-to-square, .fa-solid, .fa-trash-can{
                    color: orange;
                    font-size: 16px;
                }
            }
        }
    }
}