



.contactsection{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .signup_title{
        font-size: 47px;
        font-family: 'Dancing Script', cursive;
    }

    .container{
        .card{
            box-shadow: 0px 0px 23px 5px orange;
            .card-header{
                display: grid;
                place-items: center;
                .user_icon{
                    display: grid;
                    place-items: center;
                }
                .img-fluid{
                    width: 130px;
                }
                .fa-user{
                    font-size: 71px;
                }
            }
        }
        ::placeholder{
            font-size: 17px;
        }
        .text_lable{
            font-size: 17px;
        }

        .btn {
            background: orange;
            border-radius: 0px;
            padding: 9px 38px;
            font-size: 16px;
            color: white;
            font-weight: 700;
            font-family: sans-serif;
        }

        .error{
            color: red;
            display: block;
            font-weight: 600;
        }
        }   
    }

@media (min-width: 576px) and (max-width: 767px){
    .contactsection{
        .signup_title{
            font-size: 37px;
        }
        .container{
           
            .btn {
                background: orange;
                border-radius: 0px;
                padding: 7px 33px;
                font-size: 16px;
                color: white;
                font-weight: 700;
                font-family: sans-serif;
            }
        }
    }
    }

@media (min-width: 300px) and (max-width: 575px){
    .contactsection{
        .signup_title{
            font-size: 33px;
        }
        .container{
            .card{
                box-shadow: none;
                .card-header{
                    .img-fluid{
                        width: 114px;
                    }
                }
            }
            .btn {
                padding: 8px 31px;
                font-size: 14px;
            }
          }
    }
    }